[Unit]
Description="Honeygain Docker Systemd Service"
After=network.target
After=docker.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/honeygain-docker start
ExecReload=/usr/bin/honeygain-docker restart
ExecStop=/usr/bin/honeygain-docker stop

[Install]
WantedBy=default.target